.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}

thead {
      top: 0;
      position: sticky;
}

mat-table {
      top: 15;
      position: sticky;
}