@property --navbar-height {
      /* used with var but not used in this file*/
      /*override chrome property if possible*/
      syntax: "<length> | <percentage>";
      inherits: false;
      initial-value: 2.5rem;
      /*chrome generated height for side-nav header
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/var */
}

.headerDiv3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 95%;
      position: sticky;
      border: 2px solid darkcyan;
      background-color: goldenrod;
      color: white;
      top: -.625rem;
      height: 3.5rem;
      /* z-index: 100; */
}

.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.borderleft {
      border-left: 6px solid green;
      height: 25px;
      display: inline-block;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}

mat-form-field {
      /* height: 3.7rem; */
      margin-top: 15px;
}


mat-header-row,
thead {
      top: 2.188rem;
      position: sticky;
}

.summary1 {
      color: blue;
      font-size: larger;
}

.summary2 {
      color: rgb(255, 0, 162);
      font-size: larger;
}

/* mat-toolbar-multiple-rows {
      min-height: 2.5rem;
} */

.fieldset {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      background-color: goldenrod;
      color: white;
      top: -.625rem;
      /* top: 0.313rem; */
      /*for chrome*/

      position: sticky;
      border: 2px solid darkcyan;
      z-index: 100;
}