<div class="firstDiv">
      <h2 class="loss">ALWAYS BUY WITH LIMIT ORDER AND VALIDATE WITH DIVIDEND CALCULATOR!!!</h2>
      <h2 class="loss">Todo: Fix DIVIDEND CALCULATION PLEASE!!</h2>
      <label [ngClass]="{'loss':waiting.includes('ERROR')}">{{waiting}}</label>
      <ul>
            <li><s>Todo: Fix sorting when going between components</s></li>
            <li><s>Todo: Add Effective Range and Effective Percentile to Components</s></li>
            <li>Possible Todo: Write a File to Libre Calc <a href="https://npm.io/package/xlsx" target="_blank">npm
                        xlsx</a> </li>
            <li>Todo: Add fields and styling to Analysis</li>
            <li>
                  <h5>Used To Copy Data From Browser to Libre Calc</h5>
            </li>
      </ul>
      <fieldset>
            Material<input type="radio" name="originalOrMat" (change)="handleRadio(true)" checked="checked" value="mat">
            Original<input type="radio" name="originalOrMat" (change)="handleRadio(false)" value="original">
      </fieldset>

      <div style="width:95%; margin:15px;">
            <ng-container *ngIf="!matOrig">
                  <!-- <app-aristocrat-table [stocks]="tableDataSource.filteredData"></app-aristocrat-table> -->
                  <app-aristocrat-table
                        [stocks]="tableDataSource.sortData(tableDataSource.filteredData,sort)"></app-aristocrat-table>
            </ng-container>
            <div>
                  <!-- <div [ngClass]="{'hide':!matOrig}"> -->
                  <mat-form-field style="width:40%">
                        <mat-label>Filter</mat-label>
                        <input matInput (input)="filterData($event)">
                  </mat-form-field>
                  <mat-table #table style="width: 100%;" class="mat-elevation-z2" [dataSource]="tableDataSource"
                        matSort>
                        <ng-container cdkColumnDef="ticker">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Ticker </mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.ticker}} </mat-cell>
                        </ng-container>

                        <ng-container cdkColumnDef="category">
                              <mat-header-cell *cdkHeaderCellDef>Category </mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.category}} </mat-cell>
                        </ng-container>
                        <!-- quantity Definition -->
                        <ng-container cdkColumnDef="quantity">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.watchQuantity}} </mat-cell>
                        </ng-container>
                        <ng-container cdkColumnDef="yahooprice">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header> Yahoo Price </mat-header-cell>
                              <mat-cell class="bordergreen" *cdkCellDef="let row"> {{row.yahooprice}} </mat-cell>
                        </ng-container>
                        <ng-container cdkColumnDef="fiftytwowkrng">
                              <mat-header-cell *cdkHeaderCellDef> 52 Week Range </mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.fiftytwowkrng}} </mat-cell>
                        </ng-container>
                        <ng-container cdkColumnDef="percentage">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Price Percentile</mat-header-cell>
                              <mat-cell *cdkCellDef="let row" [ngClass]="{'buy':row.percentage >=0 && row.percentage <=20,
                              'sell':row.percentage >=80 && row.percentage <=100,
                               'potentialsell':row.percentage >=70 && row.percentage <=79,
                                'potentialbuy':row.percentage >=20 && row.percentage <=30
                        }"> {{row.percentage}} </mat-cell>
                        </ng-container>
                        <ng-container cdkColumnDef="dividendYield">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header>Dividend Yield</mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.dividendYield}} </mat-cell>
                        </ng-container>
                        <ng-container cdkColumnDef="potentialYearlyDividend">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header
                                    title="0-NaN try dividend calculator or manual">Potential Yearly Dividend
                                    ($500)</mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.potentialYearlyDividend}} </mat-cell>
                        </ng-container>
                        <ng-container cdkColumnDef="comment">
                              <mat-header-cell *cdkHeaderCellDef mat-sort-header> Comment </mat-header-cell>
                              <mat-cell *cdkCellDef="let row"> {{row.comment}} </mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="colToDisplay"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: colToDisplay"></mat-row>

                  </mat-table>
            </div>
      </div>
</div>