@property --navbar-height {
      /* used with var but not used in this file*/
      /*override chrome property if possible*/
      syntax: "<length> | <percentage>";
      inherits: false;
      initial-value: 2.5rem;
      /*chrome generated height for side-nav header
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/var */
}

.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.borderleft {
      border-left: 6px solid green;
      height: 25px;
      display: inline-block;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}

mat-header-row,
thead {
      top: 35px;
      position: sticky;
}

/* mat-toolbar-multiple-rows {
      min-height: 2.5rem;
} */

.fieldset {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      background-color: goldenrod;
      color: white;
      top: -.625rem;
      /* top: 0.313rem; */
      /*for chrome*/

      position: sticky;
      border: 2px solid darkcyan;
      z-index: 100;
}