<div class="headerDiv">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="/table" routerLinkActive="active-link">Table</a>
      <a routerLink="/mystock" routerLinkActive="active-link">Dividend Watch List</a>
      <a routerLink="/material-watchlist" routerLinkActive="active-link">Material Watch List</a>
      <a routerLink="/watchlist" routerLinkActive="active-link">WatchList</a>
      <!-- <button (click)="handlecd()">change detect</button> -->
</div>
<div>
      <h2>Securities Sites</h2>
      <a href="https://www.average-calculator.com/weighted.html" target="_blank">Weighted average-calculator</a>
      <a href="https://seekingalpha.com/" target="_blank">seeking alpha</a>
      <a href="https://finance.yahoo.com/" target="_blank">yahoo finance</a>
      <a href="https://dividend-calculator.org/" target="_blank">dividend calculator</a>
      <a href="https://www.morningstar.com/" target="_blank">morningstar</a>
      <a href="https://www.etfchannel.com/symbol/gxf/" target="_blank">ETF Channel</a>