a {
      margin: 5px 5px 5px 1px
}

.active-link {
      font-weight: bolder;
      text-shadow: 1px 1px orange;
      /* border: 2px dotted black */
}

p {
      color: white;
      /* margin: 31px 0px 0px 0px;*/
}

/* div {
      margin-left: 5px 0px;
} */