/*yellow 70-80, green 80-100  pink 20-30 and red 0-20*/

.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}

thead {
      top: 25px;
      position: sticky;
}

.bordergreen {
      border: 2px solid gold;
}

.loss {
      color: red;
}