<div class="firstDiv">

      <ol>Todo
            <li><b>DATA IS NOT REAL TIME / USE ENCRYPTED DATABASE TO GET AND UPDATE FILES ... THEN DEPLOY GOOGLE
                        CLOUD</b></li>
            <li>Rates fluctuate so 1Yr-Income-Estimate may differ a little</li>
            <li style="text-decoration: line-through;">Go to Traders View and Find US ETFs with most growth
                  below $100 </li>
      </ol>
      <label [ngClass]="{'loss':waiting.includes('ERROR')}">{{waiting}}<button
                  style="margin-left: 3px; margin-bottom: 3px;" (click)="initialize()">Refresh/Fetch
                  Stocks</button></label>

      <!-- </div>
<div style="width:95%; margin:10px;"> -->
      <mat-form-field style="width:40%">
            <mat-label>Filter</mat-label>
            <input matInput (input)="filterData($event)">
      </mat-form-field>
      <mat-table #table [dataSource]="tableDataSource" matSort>
            <ng-container cdkColumnDef="ticker">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.ticker}} </mat-cell>
            </ng-container>
            <!-- ticker category -->

            <!-- quantity Definition -->
            <ng-container cdkColumnDef="quantity">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.quantity}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="marketvalue">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Market Value</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.marketvalue}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="unitcost">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Unit Cost</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.unitcost}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="costbasis">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Cost Basis</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.costbasis}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="gainloss">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Gain/Loss</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.gainloss}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="getYahooPrice">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header> Yahoo Price</mat-header-cell>
                  <mat-cell class="bordergreen" *cdkCellDef="let row"> {{row.getYahooPrice}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="percentage">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>52 wk price-%</mat-header-cell>
                  <mat-cell *cdkCellDef="let row" [appPercent]="row.percentage"> {{row.percentage}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="actual_dividend">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>Real Income</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.actual_dividend}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="glwdiv">
                  <mat-header-cell mat-sort-header *cdkHeaderCellDef>GnLs wth DvD</mat-header-cell>
                  <mat-cell class="bordertbd" *cdkCellDef="let row"> {{row.glwdiv}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="glwdvdpct">
                  <mat-header-cell mat-sort-header *cdkHeaderCellDef>GnLsWDvD-%</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.glwdvdpct|percent:'1.1'}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="est_annual_income">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header>1Yr-Inc-Est</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.est_annual_income}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="comment">
                  <mat-header-cell *cdkHeaderCellDef>Comment</mat-header-cell>
                  <mat-cell *cdkCellDef="let row"> {{row.comment}} </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="colToDisplay"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: colToDisplay"></mat-row>
      </mat-table>
      <p>Total Gains/Losses:&nbsp;&nbsp;{{getTotalLosses()}} Total Market Value:&nbsp;&nbsp;{{getTotalMarketValues()}}
            Total Estimate Annual Income:&nbsp;&nbsp; {{getEstAnnualIncome()}}
            Total G / L w DvD:&nbsp;&nbsp;{{ getTotalGLwDvd()}}
      </p>
</div>