<div class="firstDiv">
      ticker:<input type="text" [(ngModel)]="ticker">
      five day value #1: <input type="number" [(ngModel)]="val0">
      five day value #2: <input type="number" [(ngModel)]="val1">
      five day value #3: <input type="number" [(ngModel)]="val2">
      five day value #4: <input type="number" [(ngModel)]="val3">
      five day value #5: <input type="number" [(ngModel)]="val4">
      <button class="button2" style="margin-top: 5px;" (click)="createFLMA()">Calculate</button>
      {{flmastring}}
</div>