<!-- <mat-toolbar class="sticky1" style="height: 40px !important;"> -->
<mat-toolbar class="sticky1">
      <mat-toolbar-row class="headerDiv1">
            <button mat-icon-button (keydown)="onKeyPress($event)" (focus)="addremoveclass($event)"
                  (focusout)="addremoveclass($event)">
                  <mat-icon title="open/close side navigation" (click)="toggleOpen()">menu</mat-icon>
            </button>
            <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a routerLink="/crud" routerLinkActive="active-link" title="Create, Read, Update & Delete">CRUD</a>
            <a routerLink="/table-mat" routerLinkActive="active-link" title="Table Material">Tbl-Mat</a>
            <a routerLink="/analyze" routerLinkActive="active-link" title="Get Financial Data">Analyze</a>
            <a routerLink="/material-watchlist" routerLinkActive="active-link"
                  title="material-watchlist">Mat-Wth-Lst</a>
            <a routerLink="/sprdsht" routerLinkActive="active-link" title="Spread Sheet Analysis">Spread Sheet</a>
            <a routerLink="/aristocrats" routerLinkActive="active-link" title="Dividend Aristocrats">Dvd-Ast</a>
            <a routerLink="/xlsx-style" routerLinkActive="active-link" title="Import Export Style">Imp-Exp-Sty</a>
            <a routerLink="/futures" routerLinkActive="active-link" title="Futures Sites">Futures</a>
            <a routerLink="/fdlowmedavg" routerLinkActive="active-link" title="Five Day Low Metric">5 Day Metric</a>
            <a routerLink="/transdemo" routerLinkActive="active-link" title="Transactions Demo">TXACT Demo</a>
            <a routerLink="/smtc" routerLinkActive="active-link" title="SMTC Three Stock System">SMTC</a>

            <!-- <span class="ospan" (click)="toggleContent()">Change Category</span> -->
      </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
      <mat-sidenav mode="side" [opened]="opened" style="width:15%; padding:5px">
            <h5>Securities Sites:</h5>
            <mat-nav-list>
                  <!-- <a mat-list-item><mat-icon matTextPrefix="">whatshot</mat-icon>&nbsp;{{Calories}}</a>
            <a mat-list-item><mat-icon matTextPrefix="">alarm</mat-icon>&nbsp;{{Alarm}}</a>-->
                  <a mat-list-item href="https://www.capitalgroup.com/advisor/investments/exchange-traded-funds.html"
                        target="_blank" title="Capital Group ETFs">Capital Group ETFs</a>
                  <a mat-list-item href="https://www.average-calculator.com/weighted.html" target="_blank"
                        title="Weighted Average calculator">Weighted
                        average-calculator</a>
                  <a mat-list-item href="https://seekingalpha.com/" target="_blank" title="seeking alpha">Seeking
                        alpha</a>
                  <a mat-list-item href="https://finance.yahoo.com/" target="_blank" title="yahoo finance">Yahoo Finance
                        $10 MTLY Pro Plan</a>
                  <a mat-list-item href="https://dividend-calculator.org/" target="_blank"
                        title="dividend calculator">dividend calculator</a>
                  <a mat-list-item href="https://www.dividendinvestor.com/" target="_blank"
                        title="Dividend Investor Login"> Dividend Investor .COM</a>
                  <a mat-list-item href="https://www.cefconnect.com/" target="_blank" title="Closed End Funds">CEF</a>
                  <a mat-list-item href="https://cefchannel.com/" target="_blank" title="cef channel">CEF CHANNEL</a>
                  <a mat-list-item href="https://dripcalc.com/" target="_blank" title="dividend calculator">Nubia Drip
                        Dividend Calculator</a>
                  <a mat-list-item href="https://www.morningstar.com/" target="_blank"
                        title="Morning Star">morningstar</a>
                  <a mat-list-item href="https://www.etfchannel.com/finder/" target="_blank" title="ETF channel">ETF
                        Channel</a>
                  <a mat-list-item href="https://chatgpt.com/" target="_blank" title="chat gpt">Chat GTP Bang
                        Strategy</a>
                  <a mat-list-item href="https://www.forbes.com/advisor/investing/the-best-money-market-mutual-funds/"
                        target="_blank" title="Forbes">Forbes</a>
                  <a mat-list-item href="https://www.forbes.com/advisor/investing/dividend-yield-calculator/"
                        target="_blank" title="Forbes dividend calculator">Forbes
                        Dividend-Yield-Calculator</a>
                  <a mat-list-item href="https://www.etfrc.com/" target="_blank" title="ETF Analysis">ETF Analysis</a>
                  <a mat-list-item href="https://ews.finra.org/auth/logon" target="_blank" title="Finra Login">Finra
                        Login </a>
                  <a mat-list-item href="https://www.tradingview.com/markets/stocks-usa/market-movers-gainers/"
                        target="_blank" title="trading view">TradingView</a>
                  <a mat-list-item href="https://etfdb.com/etfs/issuers/" target="_blank" title="ETF issuers">ETF OWNERS
                        RESOURCE</a>
                  <a mat-list-item href="https://www.dividend.com/" target="_blank" title="ETF issuers">DIVIDEND.COM</a>
                  <a mat-list-item href="https://www.tradingview.com/markets/etfs/funds-highest-returns/"
                        target="_blank" title="Traders View Grow ETFs">Trader's View High Growth</a>
                  <hr height="3px">
                  <a mat-list-item routerLink="/table" routerLinkActive="active-link outline"
                        title="Table Finnhub">Table</a>
                  <a mat-list-item routerLink="/mystock" routerLinkActive="active-link"
                        title="Dividend Watch List">Dvd-Wth-Lst</a>
                  <a mat-list-item routerLink="/watchlist" routerLinkActive="active-link outline"
                        title="Watch List">Watch List</a>
                  <a mat-list-item routerLink="/ods-xlsx" routerLinkActive="active-link outline"
                        title="File Import Export">File-Imp-Expt</a>

            </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content (click)="handleBodyClick()">
            <router-outlet></router-outlet>
            <!--spinner  code taken from https://www.youtube.com/watch?v=rNrITV7NbXk&list=PL1BztTYDF-QNlGo5-g65Xj1mINHYk_FM9&index=101 time: 6:05 -->
            <div class="overlay" *ngIf="showLoader">
                  <div class="loader"></div>
            </div>
            <footer>
                  <h3>🌀FUNDAMENTALS AND BUILDING BLOCKS. THE CYCLE 🌀<b>JAVASCRIPT</b>🌀</h3>
            </footer>
      </mat-sidenav-content>
</mat-sidenav-container>