<div class="firstDiv">
      <!-- <label [ngClass]="{'loss':status.includes('ERROR')}">{{status}}</label> -->

      <table>
            <thead>
                  <tr>
                        <td>ticker</td>
                        <td>comment</td>
                        <td>yahoo price</td>
                        <td>50-day-avg , 200-day-avg</td>
                        @if(thefile==='Stocks.json'){<td>Unit Cost</td>}
                        <td>52 Week Range</td>
                        <td title="yellow: potential sell, green: sell,  pink: potential buy,  and red: buy">Price
                              Percentile</td>
                        <td>Effective Year Range</td>
                        <td>Effective Year Percentile</td>
                        <td>View Yahoo Data</td>
                        <td>Potential-Dividend-Calculator</td>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor=" let stock of stocks; let i=index">
                        <td>{{stock.ticker}}</td>
                        <td>{{stock.comment}}</td>
                        <td title="yahoo price" class="bordergreen">{{stock.yahooprice}}</td>
                        <td title="50-day-avg & 200-day-avg">{{stock.fifty50_200DayAvg}}</td>
                        @if(thefile==='Stocks.json'){<td>{{stock.unitcost}}</td>}
                        <td>{{stock.fiftytwowkrng}}</td>
                        <td [ngClass]="{'buy':stock.percentage >=0 && stock.percentage <=20,
                              'sell':stock.percentage >=80 ,
                               'potentialsell':stock.percentage >=70 && stock.percentage <=79,
                                'potentialbuy':stock.percentage >=20 && stock.percentage <=30
                        }">{{stock.percentage}}</td>
                        <td>{{stock.effectiveRange}}</td>
                        <td [ngClass]="{'buy':stock.effectivePercentage >=0 && stock.effectivePercentage <=20,
                              'sell':stock.effectivePercentage >=80 ,
                               'potentialsell':stock.effectivePercentage >=70 && stock.effectivePercentage <=79,
                                'potentialbuy':stock.effectivePercentage >=20 && stock.effectivePercentage <=30
                        }">{{stock.effectivePercentage}}</td>
                        <td><a href="https://finance.yahoo.com/quote/{{stock.ticker}}/" target="_blank">{{stock.ticker}}
                                    Yahoo</a></td>
                        <td><a href="https://dividend-calculator.org/{{stock.ticker}}" target="_blank">{{stock.ticker}}
                                    Dividend-Calculator</a></td>
                  </tr>
            </tbody>
      </table>

</div>