<div class="firstDiv">
      <!-- <label [ngClass]="{'loss':status.includes('ERROR')}">{{status}}</label> -->

      <table>
            <thead>
                  <tr>
                        <td>ticker</td>
                        @if(thefile!=='Stocks.json'){ <td>comment</td>}
                        @else {<td>Buy $250 U_C</td>}
                        @if(thefile==='Stocks.json'){ <td>10% gain</td>}
                        <td>yahoo price</td>
                        <td>50-day-avg , 200-day-avg</td>
                        @if(thefile==='Stocks.json'){<td>Unit Cost</td>}
                        <td>52 Week Range</td>
                        <td title="yellow: potential sell, green: sell,  pink: potential buy,  and red: buy">Price
                              Percentile</td>
                        <td>Effective Year Rng</td>
                        <td>Effective Year %tile</td>
                        <td>View Yahoo Data</td>
                        <td>Potential-Dividend-Calculator</td>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor=" let stock of stocks; let i=index">
                        <td>{{stock.ticker}}</td>
                        @if(thefile!=='Stocks.json'){ <td>{{stock.comment}}</td>}
                        @else{<td>{{stock.newUnitCost}}</td>}
                        @if(thefile==='Stocks.json'){ <td>{{stock.tenPctGnPrice}}</td>}
                        <td title="yahoo price" class="bordergreen">{{stock.getYahooPrice}}</td>
                        <td title="50-day-avg & 200-day-avg">{{stock.fifty50_200DayAvg}}</td>
                        @if(thefile==='Stocks.json'){<td>{{stock.unitcost}}</td>}
                        <td>{{stock.fiftytwowkrng}}</td>
                        <td [appPercent]="stock.percentage">{{stock.percentage}}</td>
                        <td>{{stock.effectiveRange}}</td>
                        <td [appPercent]="stock.effectivePercentage">{{stock.effectivePercentage}}</td>
                        <td><a href="https://finance.yahoo.com/quote/{{stock.ticker}}/" target="_blank">{{stock.ticker}}
                                    Yahoo</a></td>
                        <td><a href="https://dividend-calculator.org/{{stock.ticker}}" target="_blank">{{stock.ticker}}
                                    Dividend-Calculator</a></td>
                  </tr>
            </tbody>
      </table>

</div>