<div class="firstDiv">
      <!-- <label [ngClass]="{'loss':status.includes('ERROR')}">{{status}}</label> -->

      <table>
            <thead>
                  <tr>
                        <td>ticker</td>
                        <td>company</td>
                        <td>yahoo price</td>
                        <td>52 Week Range</td>
                        <td title="yellow: potential sell, green: sell,  pink: potential buy,  and red: buy">Price
                              Percentile</td>
                        <td>Effective Year Range</td>
                        <td>Effective Year Percentile</td>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor=" let stock of stocks; let i=index">
                        <td>{{stock.ticker}}</td>
                        <td>{{stock.comment}}</td>
                        <!-- <td [ngClass]="{'loss':stock.gainloss<0}">{{stock.gainloss}}</td> -->
                        <td title="yahoo price" class="bordergreen">{{stock.yahooprice}}</td>
                        <td>{{stock.fiftytwowkrng}}</td>
                        <td [ngClass]="{'buy':stock.percentage >=0 && stock.percentage <=20,
                              'sell':stock.percentage >=80 && stock.percentage <=100,
                               'potentialsell':stock.percentage >=70 && stock.percentage <=79,
                                'potentialbuy':stock.percentage >=20 && stock.percentage <=30
                        }">{{stock.percentage}}</td>
                        <td>{{stock.effectiveRange}}</td>
                        <td [ngClass]="{'buy':stock.percentage >=0 && stock.percentage <=20,
                              'sell':stock.percentage >=80 && stock.percentage <=100,
                               'potentialsell':stock.percentage >=70 && stock.percentage <=79,
                                'potentialbuy':stock.percentage >=20 && stock.percentage <=30
                        }">{{stock.effectivePercentage}}</td>
                  </tr>
            </tbody>
      </table>

</div>