.cb {
      color: blue
}

.cv {
      color: blueviolet
}

button {
      margin: 5px 5px;
}

label {
      margin: 5px 5px;
}

input {
      margin: 5px 5px;
      font-size: larger;
}

.firstDiv1 {
      display: flex;
      flex-direction: column;
      align-items: start;
}

.purplelabel {
      color: rgba(255, 0, 238, 0.952);
}

mfrac {
      font-size: larger;
}

/* .headerDiv1 {
      display: flex;
      flex-direction: row;
      height: 90vh;
      justify-content: space-between;
      width: 90%;
} */

@media only screen and (max-width:1320px) {
      body {
            font-size: 13px;
      }

      .headerDiv1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
      }

}