<div class="firstDiv">
      <label>{{waiting}}</label>
      <div class="divrow">
            <button (click)="exportToOds()" class="button2">Export to Excel(ods)</button><br />
            <label for="inputfile">Upload Spread Sheet (.xls .ods)</label>
            <input id="inputfile" (change)="onFileChange($event)" type="file" multiple="false" class="button1" />
            <button [disabled]="waiting =='Wait for ready to fetch'" class="button3" (click)="callYahoo()">Refresh /
                  Update Data</button>

      </div>
      <br /><br />
      <table>
            <thead>
                  <tr>
                        <td *ngFor="let head of headData">
                              {{head}}
                        </td>
                  </tr>
            </thead>
            <!-- <tbody>
                  <tr *ngFor="let row of data">
                        <td *ngFor="let cell of row">
                              {{cell}}
                        </td>
                  </tr>
            </tbody> -->
            <tbody>
                  <tr *ngFor="let row of stocksArray">
                        <td>
                              {{row.ticker}}
                        </td>
                        <td>
                              {{row.quantity}}
                        </td>
                        <td>
                              {{row.category}}
                        </td>
                        <td>
                              {{row.unitcost}}
                        </td>
                        <td class="bordergreen">
                              {{row.yahooprice}}
                        </td>
                        <td [ngStyle]="{'border':row.gainloss < 0?'2px solid purple':'1px solid'}">
                              {{row.gainloss}}
                        </td>
                        <td>
                              {{row.fiftytwowkrng}}
                        </td>
                        <td [ngClass]="{'buy':row.percentage >=0 && row.percentage <=20,
                              'sell':row.percentage >=80 ,
                               'potentialsell':row.percentage >=70 && row.percentage <=79,
                                'potentialbuy':row.percentage >=20 && row.percentage <=30
                        }">
                              {{row.percentage}}
                        </td>
                        <td [ngClass]="{'buy':row.effectivePercentage >=0 && row.effectivePercentage <=20,
                              'sell':row.effectivePercentage >=80,
                               'potentialsell':row.effectivePercentage >=70 && row.effectivePercentage <=79,
                                'potentialbuy':row.effectivePercentage >=20 && row.effectivePercentage <=30
                        }">
                              {{row.effectivePercentage}}
                        </td>
                        <td>
                              {{row.est_annual_income}}
                        </td>
                        <td>
                              {{row.comment}}
                        </td>
                  </tr>
            </tbody>
      </table>

</div>