<div class="firstDiv">
      <label>{{waiting}}</label>
      TODO: HANDLE PAGE REFRESH ???
      <div class="divrow">
            <button (click)="exportToOds()" class="button2">Export to Excel(ods)</button><br />
            <label for="inputfile">Upload Spread Sheet (.xls .ods)</label>
            <input id="inputfile" name="inputfile" (change)="onFileChange($event)" type="file" multiple="false"
                  class="button1" />
            <button [disabled]="waiting =='Wait for ready to fetch'" class="button3" (click)="callYahoo()"
                  data-testid="fetch-button">Refresh /
                  Update Data</button>
      </div>
      <br /><br />
      <table>
            <thead style="top:-10px; position:sticky">
                  <tr>
                        <td *ngFor="let head of headData">
                              {{head}}
                        </td>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let row of stocksArray">
                        <td>
                              {{row.ticker}}
                        </td>
                        <td>
                              {{row.quantity}}
                        </td>
                        <td>
                              {{row.category}}
                        </td>
                        <td>
                              {{row.unitcost}}
                        </td>
                        <td class="bordergreen">
                              {{row.yahooprice}}
                        </td>
                        <td [ngStyle]="{'border':row.gainloss < 0?'2px solid purple':'1px solid'}">
                              {{row.gainloss}}
                        </td>
                        <td>
                              {{row.fiftytwowkrng}}
                        </td>
                        <td [appPercent]="row.percentage">
                              {{row.percentage}}
                        </td>
                        <td [appPercent]="row.effectivePercentage">
                              {{row.effectivePercentage}}
                        </td>
                        <td>
                              {{row.est_annual_income}}
                        </td>
                        <td>
                              {{row.actual_dividend}}
                        </td>
                        <td>
                              {{row.glwdiv}}
                        </td>
                        <td>{{row.glwdvdpct|percent:'1.1'}} </td>
                        <td>
                              {{row.comment}}
                        </td>
                  </tr>
            </tbody>
      </table>
</div>