<div class="firstDiv">
      <app-header></app-header>
      <!-- <app-stocktable></app-stocktable> -->
      <h2>Potential Securities to Buy / Sell</h2>
      <h2 class="loss"> ALWAYS BUY WITH LIMIT ORDER TO AVOID RAPID CHANGES IN PRICES
      </h2>
      <ol>To Do
            <li class="loss">optimize web pack get rid of unused calls</li>
            <li class="loss">verify all subscriptions are UNSUBSCRIBED</li>
            <li>Add Signals API and calls to Signalswatchlist.service (Done)</li>
            <li>Add Signals to WatchList Component (need angular 20 for api)</li>
            <li>Add ERROR HANDLING TO API CALLS</li>
            <li>USE RAPID API MUTUAL FUND CALL</li>
            <li>ADD ANGULAR MATERIAL FOR SORTING </li>
            <li>GET RID OF THIS COMPONENT OR REFACTOR </li>
      </ol>
      <a href="https://codezup.com/angular-and-webpack-a-step-by-step-guide-to-optimizing-your-build-process/"
            target="_blank">optomize webpack</a>
      <app-mytable [status]="waiting" [stocks]="watchlist()"></app-mytable>
</div>