<div class="firstDiv">
      <h2>Potential Securities to Buy / Sell</h2>
      <h2 class="loss"> ALWAYS BUY WITH LIMIT ORDER TO AVOID RAPID CHANGES IN PRICES
      </h2>
      <ol>To Do
            <li>GET RID OF THIS COMPONENT OR REFACTOR </li>
            <li>FILTER ALL CALLS THAT GIVE 403 </li>

      </ol>
      <a href="https://codezup.com/angular-and-webpack-a-step-by-step-guide-to-optimizing-your-build-process/"
            target="_blank">optomize webpack</a>
      <app-mytable [status]="waiting" [stocks]="watchlist()"></app-mytable>
</div>