button {
      margin: 5px 5px;
}

label {
      margin: 5px 5px;
}

input {
      margin: 5px 5px;
}

/* thead {
      top: 14px;
      position: sticky;
} */

.loss {
      color: red;
}


.divrow {
      display: flex;
      flex-direction: row;
      align-items: center;

}

.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}