button {
      margin: 5px 5px;
}

label {
      margin: 5px 5px;
}

input {
      margin: 5px 5px;
}

thead {
      top: 0;
      position: sticky;
}

.bordergreen {
      border: 2px solid gold;
}

.loss {
      color: red;
}

/* @colour3: #fa80d2;
@colour4: #fed757; */

.divrow {
      display: flex;
      flex-direction: row;
      align-items: center;

}

button:disabled {
      cursor: not-allowed;
      pointer-events: auto;
      /* pointer-events: all !important; */
}

.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}