button {
      margin: 5px 5px;
}

label {
      margin: 5px 5px;
}

input {
      margin: 5px 5px;
}

thead {
      top: 0;
      position: sticky;
}

.bordergreen {
      border: 2px solid gold;
}

.loss {
      color: red;
}

/* @colour3: #fa80d2;
@colour4: #fed757; */
.button2 {
      background-image: linear-gradient(90deg, #fa80d2, #fed757);
      height: 40px;
      font-size: medium;
}

.button2:before {
      background-image: linear-gradient(90deg, #fa80d2, transparent);
}

.button2:after {
      background-image: linear-gradient(90deg, transparent, #fed757);
}

.button1 {
      background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
      height: 40px;
      font-size: medium;
      border: 3px dashed royalblue;
}

.button1:before {
      background-image: linear-gradient(90deg, #7b81ec, transparent);
}

.button1:after {
      background-image: linear-gradient(90deg, transparent, #3bd1d3);
}

.button3 {
      background-image: linear-gradient(90deg, #ebf1d3, #5bd1ed);
      height: 40px;
      font-size: medium;
      border: 3px dashed royalblue;
}

.button3:before {
      background-image: linear-gradient(90deg, #ebf1d3, transparent);
}

.button3:after {
      background-image: linear-gradient(90deg, transparent, #ebf1d3);
}


.divrow {
      display: flex;
      flex-direction: row;
      align-items: center;

}

button:disabled {
      cursor: not-allowed;
      pointer-events: auto;
      /* pointer-events: all !important; */
}

.sell {
      background-color: lightgreen;
      font-weight: bolder;
}

.buy {
      background-color: red;
      font-weight: bolder;
}

.potentialsell {
      background-color: yellow;
      font-weight: bolder;
}

.potentialbuy {
      background-color: pink;
      font-weight: bolder;
}